template(name='addnew')
    .addnew
      label(for='opsType')
        | ADD NEW : 
      select(id='opsType', name='opsType', placeholder='please select one')
        |{{#each options}}
        option(value='{{value}}')
          | add new {{value}} 
        |{{/each}}
      |{{#if showCollegeForm}} 
      form(id='addCollegeForm')
        label(for='collegeName') 
          | COLLEGE : 
        input(type='text', name='collegeName', placeholder='college name' autofocus)
          | 
        input(type='submit', value='add college')
      |{{else}}
      |{{#if showSchoolForm}}
      form(id='addSchoolForm')
        label(for='opsTypeColleges')
          | COLLEGE : 
        select(id='college-selection-for-school', name='opsTypeColleges', placeholder='please select one')
          |{{#each colleges}}
          option(value='{{collegeName}}')
            |{{collegeName}} 
          |{{/each}}
        label(for='schoolName') 
          | SCHOOL : 
        input(type='text', name='schoolName', placeholder='school name' autofocus)
          | 
        input(type='submit', name='addSchool' value='add school' )
      |{{else}}
      |{{#if showOfficeForm}}
      form(id='addOfficeForm')
        label(for='collegeSelectionForOffice')
          | COLLEGE : 
        select(id='college-selection-for-office', name='collegeSelectionForOffice', placeholder='please select one')
          |{{#each colleges}}
          option(value='{{collegeName}}')
            |{{collegeName}} 
          |{{/each}}
        
        label(for='schoolSelectionForOffice')
          | SCHOOL : 
        select(id='school-selection-for-office', name='schoolSelectionForOffice', placeholder='please select one')
          |{{#each schools}}
          option(value='{{schoolName}}')
            |{{schoolName}} 
          |{{/each}}
        
        label(for='officeName') 
          | OFFICE : 
        input(type='text', name='officeName', placeholder='office name' autofocus)
          | 
        input(type='submit', name='addOffice' value='add office')
      |{{else}}
      form(id='addDeviceForm')
        label(for='collegeSelectionForDevice')
          | COLLEGE : 
        select(id='college-selection-for-device', name='collegeSelectionForDevice', placeholder='please select one')
          |{{#each options}}
          option(value='{{value}}')
            |{{value}} 
          |{{/each}}
        label(for='schoolSelectionForDevice')
          | SCHOOL : 
        select(id='school-selection-for-device', name='schoolSelectionForDevice', placeholder='please select one')
          |{{#each options}}
          option(value='{{value}}')
            |{{value}} 
          |{{/each}}
        label(for='officeSelectionForDevice')
          | OFFICE : 
        select(id='office-selection-for-device', name='officeSelectionForDevice', placeholder='please select one')
          |{{#each options}}
          option(value='{{value}}')
            |{{value}} 
          |{{/each}}
        .device-info
          label(for='deviceInfoModel')
            | model
          input(type='text', name='deviceInfoModel', placeholder='Model')
            | 
          label(for='deviceInfoCpuSpeed')
            | CPU
          input(type='text', name='deviceInfoCpuSpeed', placeholder='CPU SPEED')
            | 
          label(for='deviceInfoHdd')
            | H.D.D
          input(type='text', name='deviceInfoHdd', placeholder='H.D.D Capacity')
            | 
          label(for='deviceInfoRam')
            | RAM
          input(type='text', name='deviceInfoRam', placeholder='Memory Speed')
            | 
          label(for='deviceInfoScreenType')
            | SCREEN
          input(type='text', name='deviceInfoScreenType', placeholder='Screen Type')
            | 
          label(for='deviceInfoPrinter')
            | PRINTER
          input(type='text', name='deviceInfoPrinter', placeholder='Printer')
            | 
          input(type='submit', name='addDevice' value='add device')
      |{{/if}}
      |{{/if}}
      |{{/if}}
