template(name='header')
  header(class='header-view')
       span(class='logo flaticon-chicken18')
    nav
      
       span(class='hand-icon-rss53')
       span(class='hand-icon-browser70')
       span(class='hand-icon-search96')
       span(class='hand-icon-home148')
    
